<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="SqlServer" connectionString="Data Source=localhost;Initial Catalog=test;User Id=sa;Password=123654@;" providerName="System.Data.SqlClient" />
    <add name="MySql" connectionString="Data Source=localhost;Initial Catalog=test;Persist Security Info=True;User ID=root;Password=123654" providerName="MySql.Data.MySqlClient" />
    <add name="Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\OpenSource\DapperQ.Net\Tester\test.accdb;Persist Security Info=False" providerName="System.Data.OleDb" />
    <add name="Excel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\OpenSource\DapperQ.Net\Tester\test.xlsx;Extended Properties=&quot;Excel 12.0;HDR=Yes;IMEX=0&quot;" providerName="System.Data.OleDb" />
    <add name="SqLite" connectionString="Data Source=D:\project\vs2013\DapperQ.Net\Tester\test.db;Pooling=true;FailIfMissing=false" providerName="System.Data.SQLite" />
    <add name="PostgreSQL" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=123654;Database=template1;" providerName="Npgsql" />
    <add name="Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=SYS;Password=123654" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <system.data>
    <!--
        NOTE: The extra "remove" element below is to prevent the design-time
              support components within EF6 from selecting the legacy ADO.NET
              provider for SQLite (i.e. the one without any EF6 support).  It
              appears to only consider the first ADO.NET provider in the list
              within the resulting "app.config" or "web.config" file.
    -->
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data" />
      <remove invariant="System.Data.SqlClient" />
      <add name="SqlServer Data Provider" invariant="System.Data.SqlClient" description=".NET Framework Data Provider for SQL Server" type="System.Data.SqlClient.SqlClientFactory" />
      <remove invariant="System.Data.OleDb" />
      <add name="OleDb Data Provider" invariant="System.Data.OleDb" description=".NET Framework Data Provider for OleDb" type="System.Data.OleDb" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".NET Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
      <remove invariant="System.Data.OracleClient" />
      <add name="Oracle Data Provider" invariant="System.Data.OracleClient" description=".NET Framework Data Provider for Oracle" type="System.Data.OracleClient.OracleClientFactory" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>